.nav {
  background-color: black;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.nav .navTitleDiv {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.navTitleDiv img {
  height: 65%;
  padding-right: 5px;
}

.navTitle {
  font-size: 3rem;
  color: white;
}

.nav .navButtonsDiv {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

.navButtons {
  height: 50%;
  margin-left: 2%;
  padding: 0 5% 0 5%;
  text-align: center;
}
